# Coinbase CDP
CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
# Chainlink CRE
CRE_PRIVATE_KEY=
# Convex
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
# Base Sepolia
DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
